.details-border-holder {
    margin-left: 80px;
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-holder {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.acc-details-content {
    display: flex;
    gap: 1rem;
}

.col1, .col2 {
    width: 100%;
}

    .col1 p, .col2 p {
        margin: 10px;
    }
.border3 {
    border: 1px solid #E2A848;
    padding: 40px 30px 100px 30px;
    border-radius: 20px;
    margin: 100px;
}
